[submodule "masters-project-proposal"]
	path = proposal
	url = git@github.com:EdmundGoodman/masters-project-proposal
[submodule "masters-project-report"]
	path = report
	url = git@github.com:EdmundGoodman/masters-project-report
[submodule "presentation"]
	path = presentation
	url = https://github.com/EdmundGoodman/masters-project-presentation
[submodule "code/update-bot"]
	path = code/update-bot
	url = git@github.com:EdmundGoodman/update-bot
[submodule "code/bytesight"]
	path = code/bytesight
	url = https://github.com/EdmundGoodman/bytesight
[submodule "code/xdsl-bench"]
	path = code/xdsl-bench
	url = git@github.com:xdslproject/xdsl-bench
[submodule "code/llvm-project-benchmarks"]
	path = code/llvm-project-benchmarks
    url = https://github.com/EdmundGoodman/llvm-project-benchmarks
    shallow = true
