[submodule "masters-project-report"]
	path = report
	url = git@github.com:EdmundGoodman/masters-project-report
[submodule "masters-project-proposal"]
	path = proposal
	url = git@github.com:EdmundGoodman/masters-project-proposal
[submodule "code/utilities/update-bot"]
	path = code/utilities/update-bot
	url = git@github.com:EdmundGoodman/update-bot.git
